@charset "utf-8"; /*인코딩선언*/
@import url("./normalize.css"); /*파일을 가져옴*/
@import url("./fonts.css");
*, *::before, *::after{
    box-sizing: border-box; /* ie8 지원 MS*/
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit; /*강력한속성이다*/
	vertical-align: baseline;
}
ul {
	list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 본문스타일 */
html {
    font-size: 10px; /* 루트 요소 html에 고정 폰트 사이즈를 지정 */
}
body {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size:1.4rem; /*최상위 요소인 html요소의 font-size에 비례하니까 1.4배인 14px로 보임, rem(root equal M)*/
    /*0.825em = 14px,  픽셀은 고정값. em(equal M)은 유동적인값(user agent값을 이용하고 싶다면 em을 써야함)*/
    color:#181818;
}

/* 링크스타일 */
a:link, a:visited {
    color:inherit; /*상속값을 준 상위부모로 값을 찾아올라간다*/
    text-decoration: none;
}
a:hover, a:focus {
    color:#f00;
}

/*a:link, a:visited { sudo class, 상태선택 가상클래스 }*/

/* 숨김콘텐츠 */
.readable-hidden, .a11y {
    /*콤마로 선택자 구분, 그룹핑*/
    background: red;
   /* 
    display:none; 스크린리더기가 읽지 못해 접근성측면에서 안좋음
    visibility: hidden;  영역은 존재 */
    position: absolute; /*블록요소, 이동가능산 상태*/
    /*left:-9999em; 화면에 보이지 않게 멀리 날림, 스크린리더가 읽을때 포커싱이 밖으로 빠짐, 접근성 안좋음*/
    width:1px; 
    height:1px;
    margin:-1px; /*음수마진*/
    clip: rect(0, 0, 0, 0);
}

/* 건너뛰기 링크 */
a.a11y:focus{
    position: absolute;
    top:5px;
    left:50%;
    width:auto; 
    height:auto;
    margin:0;
    clip: rect(auto, auto, auto, auto);
    background-color:#181818;
    color:#fff;
    padding:5px 10px;
    transform: translateX(-50%);
    z-index: 10;
}

/* 공통스타일*/
.clearfix::after {
    /*기본적으로 가상요소는 display:inline 이다*/
    content: "";
    /*글자 한줄의 높이만큼 영역이 잡힘 */
    background-color: olive;
    display: block;
    clear: both;
}

/* 레이아웃 설계 */
.container {
    background-color: #eee;
    height:100vh;
}

.header, .visual, .main-content, .slogan, .footer {
    width:940px;
    margin: 0 auto;
}

/* 헤더 */
.header {
    background-color: #fff;
    position: relative;
    padding:0 30px 30px;
    border-radius:0 0 15px 15px;
}
/* 로고 */
.logo {
    position: absolute; /*블록요소가 되며 레이어로 떠있는 상태로 변화*/
    top:48px;
    left:65px; /*offset조정*/
}
/* 멤버링크 */
.member {
    text-transform: uppercase;
    /* font-weight:normal */
    /* display:flex;
    float:right; */
    font-size:0; /*부모요소에 글자사이즈0*/
    text-align:right;
    /* position: relative; 움직일수 있는 상태가 됨
    right:-10px; */
    transform: translateX(10px); /* x축으로 이동. position과 offset을 이용한 클래식방법보다 애니메이션 속성이 성능이 좋다 */
}

.member li{
    display:inline-block; /*ie8이상*/
    font-size:1.4rem;/*해당콘텐츠 글자크기 재정의*/
    padding:10px 0;
}
.member a {
    padding:8px 10px;
}
.member a:focus { 
    outline: 2px dotted #f00;
    /*다른 디자인 적인 요소를 위해 outline:none을 사용할 수 있다. 예) 주메뉴에 포커싱될때*/
    /* outline-offset: -5px;  outline영역을 안쪽으로 5px작게 */
}
.member li:nth-child(n+2)::before {
    content:":";
}

/* .member li::after {
    content:":";
}
.member li:last-child::after {
    content:"";
} */



/* 메인 메뉴 */
.main-menu {
    background: linear-gradient(to bottom, #fcbf32 0%, #f78731 35%, #f78731 70%, #fcbf32 100%); /*모던브라우저*/
    /* background: background-color background-image */
    background-color:#f78731; /*ie7-9*/
    border-top:2px solid #181818;
    border-radius: 0 0 5px 5px;
    height:47px;
    padding-left:225px;
}
.main-menu > li {
    float: left;
    line-height:45px;
}
.main-menu span {
    display:block;
    font-size:1.6rem;
    font-family:"Noto Sans Bold", sans-serif;
    color:#fff;/*상속됨*/
    padding: 0 20px;
    cursor: pointer;
    border-left:2px solid rgba(255,255,255,0.5);
    text-shadow: 
        1px 0 0 #181818,
        0 1px 0 #181818,
        -1px 0 0 #181818,
        0 -1px 0 #181818;
}

.main-menu span:hover, .main-menu > li:focus span {
    color:gold;
}
.sub-menu {
    display:none;
    background: gold;
    position: absolute;/* 높이를 잃음 */
}
.visual {
    background-color: pink;
    height:110px;
}
.main-content {
    background-color: blue;
    padding:0px 15px;
    min-height:400px;
    /* height:60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 세로축정렬
    align-items: center; 교차축정렬 */
}

.clearfix::after {  /*기본적으로 가상요소는 display:inline 이다*/
    content:""; /*글자 한줄의 높이만큼 영역이 잡힘 */
    background-color:olive;
    display:block;
    clear: both;
}
.group {
    margin:30px 15px;
}
.group1 {
    width:250px;
    float:left;
    background-color: lime;
}
.group2 {
    width:380px;
    float:left;
    background-color: teal;
}
.group3 {
    width:190px;
    float:left;
    background-color: tomato;
}

.slogan {
    background-color: orange;
    padding:15px 0;
    /*clear:both; 강제로margin 추가기법, float된 엘리먼트의 높이만큼 마진이 추가됨*/
}

.footer-bg {
    background-color: purple;
}
.footer {
    background-color: skyblue;
    padding:15px 0;
}