@charset "utf-8"; /*인코딩선언*/
@import url("./normalize.css"); /*파일을 가져옴*/
@import url("./fonts.css");
*, *::before, *::after{
    box-sizing: border-box; /* ie8 지원 MS*/
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit; /*강력한속성이다*/
	vertical-align: baseline;
}
ul {
	list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 본문스타일 */
html {
    font-size: 10px; /* 루트 요소 html에 고정 폰트 사이즈를 지정 */
}
body {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size:1.4rem;   /*최상위 요소인 html요소의 font-size에 비례하니까 1.4배인 14px로 보임, rem(root equal M)*/
    /*0.825em = 14px은 고정값. em(equal M)은 유동적인값(user agent값을 이용하고 싶다면 em을 쓰는게 낫다)*/
    color:#181818;
}

/* 링크스타일 */
a:link, a:visited {
    color:inherit; /*상속값을 준 상위부모로 값을 찾아올라간다*/
    text-decoration: none;
}
a:hover, a:focus {
    color:#f00;
}

/*a:link, a:visited { sudo class, 상태선택 가상클래스 }*/

/* 공통스타일*/
.clearfix::after {
    /*기본적으로 가상요소는 display:inline 이다*/
    content: "";
    /*글자 한줄의 높이만큼 영역이 잡힘 */
    background-color: olive;
    display: block;
    clear: both;
}

/* 레이아웃 설계 */
.container {
    background-color: silver;
    height:100vh;
}

.header, 
.visual, 
.main-content, 
.slogan,
.footer {
    width:940px;
    margin: 0 auto;
}
/* 헤더 */
.header {
    background-color: #fff;
    position: relative;
}
/* 로고 */
.logo {
    position: absolute; /*블록요소가 되며 레이어로 떠있는 상태로 변화*/
    top:45px;
    left:65px; /*offset조정*/
}
/* 멤버링크 */
.member {
    background:gold;
    text-transform: uppercase;
    /* font-weight:normal */
    /* display:flex;
    float:right; */
    font-size:0; /*부모요소에 글자사이즈0*/
    text-align:right;
}

.member li{
    display:inline-block; /*ie8이상*/
    background-color: aqua;
    font-size:1.4rem;/*해당콘텐츠 글자크기 재정의*/
    padding:10px 0;
}
.member a {
    background-color:lime;
}
.member li:nth-child(n+2)::before {
    content:":";
}

/* .member li::after {
    content:":";
}
.member li:last-child::after {
    content:"";
} */

.navigation {
    clear:both;
}
.visual {
    background-color: pink;
    height:110px;
}
.main-content {
    background-color: blue;
    padding:0px 15px;
    min-height:400px;
    /* height:60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 세로축정렬
    align-items: center; 교차축정렬 */
}

.clearfix::after {  /*기본적으로 가상요소는 display:inline 이다*/
    content:""; /*글자 한줄의 높이만큼 영역이 잡힘 */
    background-color:olive;
    display:block;
    clear: both;
}
.group {
    margin:30px 15px;
}
.group1 {
    width:250px;
    float:left;
    background-color: lime;
}
.group2 {
    width:380px;
    float:left;
    background-color: teal;
}
.group3 {
    width:190px;
    float:left;
    background-color: tomato;
}

.slogan {
    background-color: orange;
    padding:15px 0;
    /*clear:both; 강제로margin 추가기법, float된 엘리먼트의 높이만큼 마진이 추가됨*/
}

.footer-bg {
    background-color: purple;
}
.footer {
    background-color: skyblue;
    padding:15px 0;
}